/**
 * Feel free to replace the contents of this file
 *
 */

/**
 * Universal CSS reset
 *
 */

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
  outline: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/** font Einbindung **/
@font-face {
  font-family: 'Nunito';
  src: url(/fonts/Nunito-VariableFont_wght.ttf);
  font-display: swap;
}


/** styling **/
body {
  background-color: #3F3F46;
  font-family: 'Nunito', system-ui, sans-serif;
  color: white;
}


